<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Livro</title>
</head>
<body>

	<nav layout:fragment="header" aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#" th:href="@{/livros/list}">Livros</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Cadastrar novo livro</li>
	  </ol>
	</nav>

	<div layout:fragment="content" class="container">
	
	<form id="livroForm" th:action="@{/livros/gravar}" method="post" th:object="${livro}" action="#" enctype="multipart/form-data" >
		
		<input type="hidden"  th:field="*{id}" />
		
		<div>
			<img th:if="${livro.foto}" th:src="@{'/' + ${livro.foto}}" width="100px" />
		</div><br/>
				
		<label>Título:</label>
	 	<input class="form-control" type="text" th:field="*{titulo}" />
		<span  th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Nome Error</span><br/>
		
		<label>Quantidade:</label>
		<input class="form-control" type="text" th:field="*{quantidade}" />
		<span  th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}">Quantidade Error</span><br/>
		
		<label>Autor:</label>
		<select class="form-control" th:field="*{autor}">
			<option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nome}">Nome do autor</option>
		</select><br/>
		
		<div class="form-group">	
		<label>Imagem:</label>
		<input class="form-control-file" type="file" name="fotoUrl" />
			<span th:if="${message}" style="color: red;" th:text="${message}">Message Error</span>
		</div>
		<br/>
		
		<input class="btn btn-primary" type="submit" value="Salvar" />
	</form>
	
	</div>
	
</body>
</html>