<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Autor</title>
</head>
<body>

	<nav layout:fragment="header" aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#" th:href="@{/autores/list}">Autores</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Cadastrar novo autor</li>
	  </ol>
	</nav>
	
	<div layout:fragment="content" class="container">
	
	<form id="autorForm" th:action="@{/autores/gravar}" method="post" th:object="${autor}" action="#" enctype="multipart/form-data" >
		
		<input type="hidden"  th:field="*{id}" />
		
		<label>Nome:</label>
		<input class="form-control" type="text" th:field="*{nome}" />
		<span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span><br/>
		
		<input class="btn btn-primary" type="submit" value="Salvar" />
		
	</form>
	
	</div>
		
</body>
</html>